<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter recipient info</ng-template>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="emailctrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Priority" formControlName="priorityctrl" [matAutocomplete]="priorityauto" required>
                <mat-autocomplete autoActiveFirstOption #priorityauto="matAutocomplete">
                    <mat-option *ngFor="let priority of priorities" [value]="priority">
                        {{ priority }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="department" formControlName="departmentctrl" [matAutocomplete]="departmentauto" required>
                <mat-autocomplete autoActiveFirstOption #departmentauto="matAutocomplete" [displayWith]="getDepartmentName">
                    <mat-option *ngFor="let dept of departments" [value]="dept">
                        {{ dept.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button color="primary" mat-button matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Enter message</ng-template>
            <mat-form-field>
                <input matInput placeholder="message" formControlName="messagectrl" required>
            </mat-form-field>
            <div>
                <button color="primary" mat-button matStepperPrevious>
                    Back
                </button>
                <button color="primary" mat-button matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [optional]="true">
        <ng-template matStepLabel>Preview</ng-template>
        <p>Message Sent</p>
        <div>
            <button color="primary" mat-button matStepperPrevious>
                Back
            </button>
            <button mat-icon-button (click)="stepper.reset()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </mat-step>
</mat-vertical-stepper>